<div class="footer-links">
	{% if not req.user %}
		<a href="/login">Log In</a>
		<span class="spacer"> | </span>
		<a href="/signup">Sign Up</a>
		<span class="spacer"> | </span>
		<a href="https://app.lifescope.io/start">Info</a>
		<span class="spacer"> | </span>
	{% endif %}

	<a class="support-link" target="_blank" href="https://bitscoop.com/support">Support</a>
	<span class="spacer"> | </span>
	<a class="privacy-policy" href="https://bitscoop.com/privacy">Privacy</a>
	<span class="spacer"> | </span>
	<a class="terms-of-use" href="https://bitscoop.com/terms">Terms</a>
</div>
